#leftcolumn{
	float:left;
	width: 50%;
}

#rightcolumn{
	float:right;
	width: 40%;
	margin-right: 10%;
}

body{
	background-color: black;
}

p {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 18px;
	color:white;
	margin-top: 20%;
	position: absolute;
	padding:10px;
	width:210px;
	margin-left:600px;
}

a {
	float:right;
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color:white;
	margin-left:50%;
}

#textwrapper {
	width:40px;
}

#home {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color:white;
	margin-top: 0%;
	margin-left: 50%;
	position: absolute;
	top:5px;
	right:15px;
	text-decoration:none;
}

#vanity {
	float:right;
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color:white;
	margin-left:50%;
	margin-top:80%;	
}
