#leftcolumn{
	float:left;
	width: 50%;
}

#rightcolumn{
	float:right;
	width: 40%;
	margin-right: 10%;
}

body{
	background-color: black;
}

a {
	float:right;
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color:white;
	margin-left:50%;
}

#textwrap {
	width:290px;
	height:100px;
}


p {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color:white;
	margin-top: 30%;
	position: relative;
	top: -270px;
	left: 1100px;
}

#home {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color: white;
	position: absolute;
	top:5px;
	right:15px;
	text-decoration:none;
}

#next {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color:white;
	margin-top: 30%;
	position: absolute;
	top:440px;
	right:15px;
	text-decoration:none;
}

#dream {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color: #a2a2d1;
	position: absolute;
	top:560px;
	left:-700px;
	width:800px;
}
