body {
	background-color: black;
	width:100%;
	height:100%;
	overflow-x:hidden;
	max-width:100%;
}

.container {
	position:relative;
}


.pin1 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 600px;
	left: 660px;
}

.pin2 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 466px;
	left: 737px;
}

.pin3 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 800px;
	left: 600px;
}

.pin4 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 100px;
	left: 900px;
}

.pin5 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 466px;
	left: 800px;
}

.pin6 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 600px;
	left: 840px;
}

.pin7 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 450px;
	left: 900px;
}

.pin8 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 1050px;
	left: 280px;
}

.pin9 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 310px;
	left: 500px;
}

.pin10 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 120px;
	left: 500px;
}

.pin11 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 565px;
	left: 880px;
}

.pin12 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 640px;
	left: 850px;
}

.pin13 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 500px;
	left: 820px;
}

.pin14 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 360px;
	left: 710px;
}

.pin15 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 210px;
	left: 640px;
}

.pin16 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 460px;
	left: 720px;
}

.pin17 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 630px;
	left: 820px;
}

.pin18 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 450px;
	left: 760px;
}

.pin19 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 600px;
	left: 800px;
}

.pin20 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 466px;
	left: 750px;
}

.pin21 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 420px;
	left: 660px;
}

.pin22 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 520px;
	left: 600px;
}

.pin23 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 650px;
	left: 840px;
}

.pin24 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 210px;
	left: 650px;
}

.pin25 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 400px;
	left: 700px;
}

.pin26 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 1050px;
	left: 280px;
}

.pin27 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 290px;
	left: 450px;
}

.pin28 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 400px;
	left: 750px;
}

.pin29 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 630px;
	left: 730px;
}

.pin30 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 500px;
	left: 850px;
}

.pin31 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 500px;
	left: 820px;
}

.pin32 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 360px;
	left: 710px;
}

.pin33 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 210px;
	left: 640px;
}

.pin34 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color: #e1516e;
	top: 600px;
	left: 660px;
}

.pin35 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 466px;
	left: 737px;
}

.pin36 {
	position:absolute;
	width: 15px;
	height: 15px;
	border-radius:100%;
	background-color:#e1516e;
	top: 800px;
	left: 600px;
}

a {
	text-decoration: none;
	color: grey;
	transition: color 0.3s ease;
	font-family: DIN Pro;
	font-weight: Bold;
}

a:hover {
	color: white;
}

#menuToggle {
	display: block;
	position: absolute;
	width:0px;
	height:880px;
	top: 15px;
	left: 96%;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: white;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 270px;
	height: 763px;
	margin: -40px -265px;
	padding: 50px;
	padding-top: 140px;
	/*display:none;*/
	background: #000;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	top: -50px;
	padding: 30px 0;
	font-size: 50px;
}

#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
	}}}