body {
    background-color: white;
}

p {
    color: black;
    font-size: 60px;
    font-weight: bold;
    font-family: calibri, sans-serif;
    text-align: center;
}

.special {
    color: purple;
}
 
#first {
    color: blue;
}

ul {
    color: black;
    font-size: 25px;
    font-weight: bold;
    font-family: calibri, sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 20px;
}

