body {
	background-color: black;
}

a {
	text-align:center;
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color:white;
	margin-left:50%;
}


img {
	display:inline-block;
	width: 557px;
	margin-left: 0%;
}

.image-wrapper {
	position:relative;
	width: 557px;
}

.image-wrapper p {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color:white;
	margin-top: 0%;
	position: absolute;
	padding:10px;
	
}
