h1 {
	color: rgba(0,75,255,0.7);
}

/*normal*/
@font-face {
	src: url("Quicksand_Book.otf");
	font-family: "nestlequick";
}

/*bold*/
@font-face {
	src: url("Quicksand_Bold.otf");
	font-family: "nestlequick";
	font-weight: bold;
}

p {
	font-family: "nestlequick", sans-serif;
}

p:hover {
	color: red;
	cursor: pointer;
	letter-spacing: 50px;
}

a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}

a:hover {
	color: rgba(0,0,200,1);
	letter-spacing: 200px;
	text-decoration: underline;
}
a:focus {
	color: rgba(255,0,0,1);
}
a:active {
	color: rgba(0,0,0,1);
}
a:visited {
	color: rgba(0,255,0,1);
}









