body {
	background-color:black;
	width:100%;
	height:120%;
	overflow-x:hidden;
	max-height:120%;
	max-width:100%;
}

img {
	width: 540px;
	left: 720px;
	position: absolute;
	margin-top: 230px;
}

h3.back {
	position:absolute;
	font-family:DIN Pro;
	font-size:15px;
	font-weight:bold;
	color:white;
	top:0;
	left:10px;
}


.day {
	position:relative;
	float:left;
	width: 315px;
	height: 315px;
	border: 2px solid black;
}

.day a {
	position:absolute;
	font-family: DIN Pro;
	font-size: 30px;
	font-weight: bold;
	top: 130px;
	color: white;
	padding: 0;
	margin: 0;
	text-align:center;
	left: 125px;
}

.day p {
	position:absolute;
	font-family: DIN Pro;
	font-size:12px;
	font-weight:medium;
	bottom:0px;
	width: 100%;
	color: white;
	bottom: 5px;
	left: 140px;
}

h1.title {
	position:absolute;
	font-family:DIN Pro;
	font-size:100px;
	font-weight:bold;
	color:white;
	left:50px;
}

#wrapper {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

.transaction {
	position:absolute;
	width: 700px;
}

.transaction p {
	position: relative;
	font-family:DIN Pro;
	font-size:20px;
	font-weight:medium;
	color:white;
	display:inline-block;
	left: 60px;
	top: 320px;
	width: 130px;
	word-spacing: px;
}

.placeWrap p {
	position: relative;
	font-family:DIN Pro;
	font-size:20px;
	color:white;
	left: 60px;
	top: 750px;
}

.peopleWrap p {
	position: relative;
	font-family:DIN Pro;
	font-size:20px;
	color:white;
	left: 1300px;
	top: 150px;
}

h2.total {
	position:absolute;
	font-family:DIN Pro;
	font-size: 80px;
	font-weight:bold;
	color:white;
	left: 1300px;
	display:inline-block;
	top:700px;
}

h2.header {
	position:absolute;
	font-family:DIN Pro;
	font-size:25px;
	font-weight:bold;
	color:white;
	word-spacing: 45px;
	left: 60px;
	top: 250px;
}

h2.people {
	position:absolute;
	font-family:DIN Pro;
	font-size:25px;
	font-weight:bold;
	color:white;
	left: 1300px;
	top: 250px;
}

h2.places {
	position:absolute;
	font-family:DIN Pro;
	font-size:25px;
	font-weight:bold;
	color:white;
	left: 60px;
	top: 700px;
}

a {
	text-decoration: none;
	color: grey;
	transition: color 0.3s ease;
	font-family: DIN Pro;
	font-weight: Bold;
}

a:hover {
	color: white;
}

#menuToggle {
	display: block;
	position: absolute;
	width:0px;
	height:880px;
	top: 15px;
	left: 96%;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: white;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 270px;
	height: 763px;
	margin: -40px -265px;
	padding: 50px;
	padding-top: 140px;
	/*display:none;*/
	background: #000;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
	top: -50px;
	padding: 30px 0;
	font-size: 50px;
}

#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
	}}