body {
	background-color: black;
	width:100%;
	height:100%;
	overflow-x:hidden;
	max-width:100%;
}

#redesign{
	position:absolute;
	text-align:center;
	font-family:DIN Pro;
	font-weight:BOLD;
	font-size: 80px;
	color:white;
	top:450px;
	left:480px;
	opacity:0.75;
}

#redesign:hover {
	text-decoration: underline;
	opacity:1;