body,
html {
    margin: 0px;
    background: rgb(100,220,255);
    /* teal */
}

.everything {
	margin-top: 80px;
	position: relative;
	background: rgba(255,255,255, 0.5);
	/* white */
}

.wrapper {
/*	try uncommenting this next chunk to see what 
"absolute" does with respect to its parent 
-- this is the "absolutely relative" idea */

/*    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;*/
    background: rgba(50, 200, 50, 0.3);
    /* green */
}

.basic {
    background: rgba(255, 255, 100, 0.5);
    /* yellow */
    width: 50%;
    height: 30%;
}

.special {
	height: 50%;
	/* each div is 50% the height of .wrapper, which is
	set to be 100% of its parent, ".everything" */
}