
body, html {
  margin: 0px;
}
.wrapper {
  /* uncomment the next line to 
  fix margin collapsing: */
   /*position: absolute; */
  background: rgb(100,220,255);
}

.basic {
   background: rgba(255,255,200,0.5);
   padding: 10px;
   border: 5px;
   border-color: black;
   border-style: solid;
   margin: 20px;
}

.floater {
	width: 100px;
	float: right;
}

.cleared {
	clear: both;
}
