#leftcolumn{
	float:left;
	width: 50%;
}

#rightcolumn{
	float:right;
	width: 40%;
	margin-right: 10%;
}

body{
	background-color: white;
}

p {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 18px;
	color:black;
	margin-top: 7.2%;
	position: absolute;
	padding:10px;
	width:150px;
	margin-left:100px;
}

a {
	float:right;
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color:black;
	margin-left:50%;
}

#textwrapper {
	width:200px;
}

#home {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color:black;
	margin-top: 0%;
	margin-left: 50%;
	position: absolute;
	top:5px;
	right:15px;
	text-decoration:none;
}

#author {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 20px;
	color:black;
	position:absolute;
	top: 790px;
	right: 30px;
}


#glowed {
	font-family: "DIN Pro", "Calibri", sans-serif;
	font-weight: medium;
	font-size: 150px;
	color:white;
	position: absolute;
	top:600px;
	left:150px;
}